@import "tailwindcss";

html {
    scroll-behavior: smooth;
    	scroll-padding-top: 50px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #0e7490;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.colorPrincipalFondo {
    background-color: #007886;
}

.colorPrincipalTexto {
    color: #008c9b;
}

.colorPrincipalHover:hover {
    color: #00bdd2;
}

.colorPrincipalBorde {
    border-color: #007886;
}
