<section class="h-96 bg-gray-200 reveal-up">
    <div class="w-full h-full">
        <iframe
            class="w-full h-full border-0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3507.6900244362223!2d-65.78420912363062!3d-28.458759159571102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942429dd5d935a0f%3A0xa9fd4f8fa44375e!2sPunto%20Joven!5e0!3m2!1ses!2sar!4v1747774610491!5m2!1ses!2sar"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>
