<header class="bg-white shadow-md sticky top-0 z-50">
    <div class="container mx-auto px-4 py-3 flex justify-between items-center">
        <div class="flex items-center space-x-2">
            <a href="/">
                <img
                    src="./logo_CATACAPI_oscuro.png"
                    alt="Logo"
                    class="h-10 animate__animated animate__fadeIn"
                />
            </a>
        </div>
        <nav class="hidden md:flex space-x-6">
            <a
                href="/#inicio"
                class="colorPrincipalTexto colorPrincipalHover font-medium transition-all duration-300 hover:scale-105"
                >Inicio</a
            >
            <a
                href="/#sobre-nosotros"
                class="colorPrincipalHover font-medium transition-all duration-300 hover:scale-105"
                >Sobre Nosotros</a
            >
            <a
                href="/#noticias"
                class="colorPrincipalHover font-medium transition-all duration-300 hover:scale-105"
                >Noticias</a
            >
            <a
                href="/#instalaciones"
                class="colorPrincipalHover font-medium transition-all duration-300 hover:scale-105"
                >Instalaciones</a
            >
            <a
                href="/#contacto"
                class="colorPrincipalHover font-medium transition-all duration-300 hover:scale-105"
                >Contacto</a
            >
        </nav>
        <button class="md:hidden colorPrincipalTexto" id="menu-toggle">
            <i class="fas fa-bars text-2xl"></i>
        </button>
    </div>

    <div id="mobile-menu" class="hidden md:hidden bg-white w-full">
        <div class="container mx-auto px-4 py-3 flex flex-col space-y-3">
            <a
                href="/#inicio"
                class="colorPrincipalTexto colorPrincipalHover font-medium"
                >Inicio</a
            >
            <a href="/#sobre-nosotros" class="colorPrincipalHover font-medium"
                >Sobre Nosotros</a
            >
            <a href="/#noticias" class="colorPrincipalHover font-medium"
                >Noticias</a
            >
            <a href="/#instalaciones" class="colorPrincipalHover font-medium"
                >Instalaciones</a
            >
            <a href="/#contacto" class="colorPrincipalHover font-medium"
                >Contacto</a
            >
        </div>
    </div>
</header>
