---
import NoticiasCard from "../components/noticiasCard.astro";
import { getDatosNoticias } from "../util/obtenerDatos.astro";

const noticiasCompletas = await getDatosNoticias();
---

<section id="noticias" class="py-16 bg-white">
    <div class="container mx-auto px-4">
        <h2
            class="text-3xl font-bold text-center mb-12 colorPrincipalTexto reveal-title"
        >
            Últimas Noticias
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            {
                noticiasCompletas.slice(1, 4).map((item: any, index: any) => (
                    <div class={`reveal-item-${index + 1}`}>
                        <NoticiasCard noticias={item} />
                    </div>
                ))
            }
        </div>

        <div class="text-center mt-12 reveal-up">
            <a
                href="/noticias"
                class="inline-block colorPrincipalFondo colorPrincipalFondoHover text-white px-6 py-3 rounded-lg font-medium transition-all duration-300 hover:scale-105 hover:shadow-lg"
            >
                Ver todas las noticias
            </a>
        </div>
    </div>
</section>
